
.container{
    display: grid;
    margin-left: 95px;
    margin-right: 1310px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 500px;
    height: 650px;
}
.grid-container-1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 500px;
    height: 70px;
}
.grid-container-2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;

}
.h1{
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 5;
}
.grid-item {
    background-color:#f2f2f2;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.img1{
    width: 30px;
    height: 30px;
}
/*.output{*/
/*    margin-right: 600px;*/
/*    text-align: end;*/
/*}*/
.grid-item-so {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.row1{
    width: 500px;
    background-color:#e9e9e9 ;
}
.row2{
    display: flex;

    width: 500px;
    background-color:#e9e9e9 ;
}
.row{
background-color:#e9e9e9 ;
}
.button
{
    padding: 10px 14.5px;
    font-size: 12px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color:  transparent;
    color: #aeb2b7;
}
.button-1{
    padding: 10px 14.5px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    background-color:  transparent;
    border: 1px solid transparent;

}

p{
    margin-right: 490px;
    font-size: 28px;
}
.menu{
    margin-top: 18px;
    width: 60px;
}
h1{
    /*margin-left:460px;*/
    font-size: 200%;
}
grid-hienthi{
    display: grid;
    grid-template-columns:auto ;
    grid-template-rows: auto auto;
}
.output{
    background-color: #e9e9e9;
    height: 30px;
    width: 490px;
}